<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title ">Pass Tests</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                <th>Sl.No</th> 
                                <th>Name</th>
                                <th>Doc</th>
                                <th>Tag</th>
                                <th>S_time</th>
                                <th>E_time</th>
                                <th>Critical</th>
                              </thead>
                              <tbody>
                                <tr *ngFor ="let name of pass_tests;let i = index" >
                                    <td>{{i+1}}</td>
                                    <td>{{name.uname}}</td>
                                    <td>{{name.doc}}</td>
                                    <td>{{name.tags.tag}}</td>
                                    <td>{{name.tstart |slice:9}}</td>
                                    <td>{{name.tend |slice:9}}</td>
                                    <td>{{name.tcritical}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">Fail Tests</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                <th>Sl.No</th> 
                                <th>Name</th>
                                <th>Doc</th>
                                <th>Tag</th>
                                <th>S_time</th>
                                <th>E_time</th>
                                <th>Critical</th>
                              </thead>
                              <tbody>
                                <tr *ngFor ="let name of fail_tests;let i = index" >
                                    <td>{{i+1}}</td>
                                    <td>{{name.uname}}</td>
                                    <td>{{name.doc}}</td>
                                    <td>{{name.tags.tag}}</td>
                                    <td>{{name.tstart |slice:9}}</td>
                                    <td>{{name.tend |slice:9}}</td>
                                    <td>{{name.tcritical}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
